<section id="portfolio" class="bg-light-gray">
<div class="projectCube">
  <input type="radio" checked id="radio-front" name="select-face"/>    
  <input type="radio" id="radio-back" name="select-face"/>
  <input type="radio" id="radio-left" name="select-face"/>
  <input type="radio" id="radio-right" name="select-face"/>
  <input type="radio" id="radio-top" name="select-face"/>
  <input type="radio" id="radio-bottom" name="select-face"/>

  <div class="scene">
    <div class="cube">
        <div class="cube-face  cube-face-front"></div>
        <div class="cube-face  cube-face-back">
          <p>
            Passionate about innovation and technology, I’ve been studying Business Administration in Belgium, before immersing myself in the General Assembly Web Development program.</br></br>
            Coding, which was new to me at the time, allowed me to gain great problem solving skills and to develop my creativity, while becoming a real passion.</br></br>
            Combining the technical skills I have learned and my interest for business and entrepreneurship, I am now looking to join a team where I could continue to learn web development while being involved in the business process.</br></br>
          </p>
        </div>
        <div class="cube-face  cube-face-left"></div>
        <div class="cube-face  cube-face-right"></div>
        <div class="cube-face  cube-face-top"></div>
        <div class="cube-face  cube-face-bottom"></div>
    </div>
  </div>
</div>
</section>