<section id="portfolio" class="bg-light-gray">
<div class="projectCube">

  <input type="radio" checked id="radio-front" name="select-face"/>    
  <input type="radio" id="radio-back" name="select-face"/>
  <input type="radio" id="radio-left" name="select-face"/>
  <input type="radio" id="radio-right" name="select-face"/>
  <input type="radio" id="radio-top" name="select-face"/>
  <input type="radio" id="radio-bottom" name="select-face"/>

  <div class="scene">
    <div class="cube">
        <div class="cube-face  cube-face-front">
          <img id="frontImage" src="img/linkedinPic2.jpg">
        </div>
        <div id="backAbout" class="cube-face  cube-face-back">
          Passionate about innovation and technology, I’ve been studying Business Administration in Belgium, before immersing myself in the General Assembly Web Development program.
            Coding, which was new to me at the time, allowed me to gain great problem solving skills and to develop my creativity, while becoming a real passion.
        </div>
        <div id="leftAbout" class="cube-face  cube-face-left">
            Combining the technical skills I have learned and my interest for business and entrepreneurship, I am now looking to join a team where I could continue to learn web development while being involved in the business process.
        </div>
        <div id="rightContact" class="cube-face  cube-face-right">
          <p>Contact</p>
          <ul>
            <li>ilaneliehazan@gmail.com</li>
            <li><a id="contactLinks" href="https://www.linkedin.com/in/ilaneliehazan">LinkedIn</a></li>
            <li><a id="contactLinks" href="https://github.com/IlanHZ">Github</a></li>
            <li><a id="contactLinks" href="https://twitter.com/ilanhz">Twitter</a></li>
          </ul>
        </div>
        <div class="cube-face  cube-face-top">
          <p>Have a look at my resume and let's get in touch!
            <a id="contactLinks" href="/img/education/CVdownload.pdf" download><i class="fa fa-cloud-download" aria-hidden="true"></i></a>
          </p>
        </div>

        <div class="cube-face  cube-face-bottom"></div>
    </div>
  </div>
</div>
</section>